<!-- <div class="container">
  <div class="login-wrapper">
    <div class="grid-container">
      <div class="login-ctnr"> -->

        <!-- LOGIN BOX -->
        <!-- <div class="login-content box box-banner">
          <div class="grid-row">
            <div class="col-12 form-group">
              <label>Username</label>
              <input type="text" class="form-control" name="username" [(ngModel)]="data.identifier"  autofocus />
            </div>
          </div>
          <div class="grid-row">
            <div class="col-12 form-group">
              <label>Password</label>
              <div class="password">
                <input type="{{showPassword ? '' : 'password'}}" [(ngModel)]="data.password" class="form-control" name="password"/>
                <i class="zmdi zmdi-eye" (click)="showPassword = true" *ngIf="!showPassword"></i>
                <i class="zmdi zmdi-eye-off" (click)="showPassword = false" *ngIf="showPassword"></i>
              </div>
            </div>
          </div>
          <div class="grid-row">
            <div class="col-12 button-ctnr">
              <button type="submit" (click)="login()" class="button button-primary button-width-full">Login</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->

<div >
 ddddddddddddddddddddddddd {{message}}
</div>
<app-userdetail></app-userdetail>



