<h1 class="txtcenter">User Detail Form</h1>

<div class="bold">
  <div class="container">

        <div class="margin"><strong>Name :</strong> {{userlist.name}}</div>
        <div class="margin"><strong>Username :</strong> {{userlist.username}}</div>
        <div class="margin"><strong>Email :</strong> {{userlist.email}}</div>
        <div class="margin"><strong>Website :</strong> {{userlist.website}}</div>
        <div class="margin"><strong>City :</strong> {{userlist.address.city}}</div>
        <div class="margin"><strong>Street :</strong> {{userlist.address.street}}</div>
        <div class="margin"><strong>Suite :</strong> {{userlist.address.suite}}</div>
        <div class="margin"><strong>Zipcode :</strong> {{userlist.address.zipcode}}</div>
        <div class="margin"><strong>Company Name :</strong> {{userlist.company.name}}</div>
        <div class="margin"><strong>Company Bs :</strong> {{userlist.company.bs}}</div>
        <div class="margin"><strong>Company CatchPhrase :</strong> {{userlist.company.catchPhrase}}</div>
    </div>
  </div>

